{% extends "layout.html" %}
{% block content %}
<section id="app">
    <div id="main_panel">
        <div id="card_boardA" class="d-flex justify-content-around">
            <menu-card card_title="pushup_card" img_path="/static/img/pushup.png"></menu-card>
            <menu-card card_title="squat_card" img_path="/static/img/squat.png"></menu-card>
            <menu-card card_title="pullup_card" img_path="/static/img/pullup.png"></menu-card>
        </div>
        <div id="card_boardB" class="d-flex justify-content-around">
            <menu-card card_title="leg_raise_card" img_path="/static/img/leg_raise.png"></menu-card>
            <menu-card card_title="bridge_card" img_path="/static/img/bridge.png"></menu-card>
            <menu-card card_title="handstand_pushup_card" img_path="/static/img/handstand_pushup.png"></menu-card>
        </div>
    </div>

    <record-modal></record-modal>
</section>
{% endblock %}
